.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
/*
游댌 Lo que pasa realmente:

position: fixed + inset: 0
游녤 el div cubre toda la pantalla

z-index: 9999
游녤 queda por encima de navbar, content y footer

El div existe f칤sicamente encima, as칤 que:

Los clicks caen sobre el overlay

Nunca llegan al contenido de atr치s
*/

/* body.modal-open {
    overflow: hidden;
} */

/*usoo del modal PARA EL MODAL*/

.custom-modal {
        font-family: 'Arial', sans-serif;
        width: 100%;
        max-width: 540px; /* M치s ancho */
        border-radius: 15px !important;
        background-color: #fff;
        padding: 15px 25px 30px 25px; /* Reducido arriba (15px) */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* La X bien pegada a la esquina */
    .close-container {
        position: absolute;
        top: 12px;
        right: 15px;
        color: #ccc;
        cursor: pointer;
        line-height: 1;
    }

    /* Icono de advertencia m치s pegado al borde superior */
    .icon-circle {
        width: 65px;
        height: 65px;
        background-color: #fffdf2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px; /* Ajuste para subirlo m치s */
        margin-bottom: 10px; /* Menos espacio con el t칤tulo */
    }

    .text-brand {
        color: #83431a; /* El caf칠 oscuro de la imagen */
    }

    /* Caja de texto compacta */
    .bg-light-cream {
        background-color: #fffdf5;
        border: 1px solid #f9f1d8;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .btn-custom-red {
        background-color: #d31a24;
        border: none;
        padding: 12px;
        border-radius: 8px;
        width: 100%;
        font-weight: 600;
        font-size: 1.1rem;
    }